<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Navbar</a>
    <div>
      <a class="navbar-brand" routerLink="login" *ngIf="!userloggedIn">Login</a>
      <a class="navbar-brand" href="#" (click)="logout($event)" *ngIf="userloggedIn">Logout</a>
      <a class="navbar-brand" routerLink="profile" *ngIf="userloggedIn">Profile</a>
     
    </div>
  
  </nav>