<div class="mt-4 col-8 offset-2">
    <div class="card">
        <div class="card-header">Login Here</div>
        <div class="card-body">
          <div class="alert alert-danger" [hidden]="!error">{{error}}</div>
            <form #loginForm=ngForm (ngSubmit)="onSubmit()">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" [(ngModel)]="form.email" id="inputEmail3" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" [(ngModel)]="form.password" id="inputPassword3" required>
                  </div>
                </div>
                
                <app-profile [notifications]="notifications"></app-profile>
                
                <div class="form-group row">
                  <div class="col-sm-10 offset-2">
                    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in</button>
                    <a routerLink="/signup" class="btn btn-info float-right" >Register</a>
                  </div>
                </div>
              </form>
            </div>

        </div>
</div>
