<div class="mt-4 col-8 offset-2">
    <div class="card">
        <div class="card-header">Register</div>
        <div class="card-body">
         
            <form #signupForm=ngForm (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" name="name" class="form-control" [(ngModel)]="form.name" id="inputName3" required>
                    
                    </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" [(ngModel)]="form.email" id="inputEmail3" required>
                    <div >
                      {{loginObj.email}}
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" [(ngModel)]="form.password" id="inputPassword3" required>
                    <div >
                      {{loginObj.password}}
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputPasswordConfirmation3" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">
                      <input type="password" name="password_confirmation" class="form-control" [(ngModel)]="form.password_confirmation" id="inputPasswordConfirmation3" required>
                    </div>
                  </div>
         
                
                <div class="form-group row">
                  <div class="col-sm-10 offset-2">
                    <!-- <a routerLink="/login" class="btn btn-info float-right" >Sign in</a> -->
                    <button type="submit" class="btn btn-info" [disabled]="!signupForm.valid">Register</button>
                    
                  </div>
                </div>
              </form>
            </div>
  
        </div>
  </div>